.calc {
  display: inline-block;
}
.calc button {
  width: 6em;
  height: 6em;
}
.calc button.text-Clear {
  width: 18em;
}
.calc button.text-0 {
  width: 12em;
}
.calc .output {
  height: 6em;
  border: 1px solid grey;
  position: relative;
}
.calc .output > span {
  position: absolute;
  bottom: 0;
  right: 0.2em;
  font-size: 1.5em;
}
